body {
  font-family: arial, sans-serif;
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
}

h1 {
  color: #6676ce;
  text-align: center;
  font-size: 25px;
}

h2 {
  color: #4da8f5;
  font-size: 30px;
  font-weight: 400;
  line-height: 28px;
  margin-left: 8px;
}

ul {
  padding: 0;
  margin: 15px;
  margin-left: 8px;
}

li {
  list-style: none;
  color: #4da8f5;
  font-size: 18px;
  font-weight: 100;
  line-height: 19px;
  text-align: left;
}

li:first-letter {
  text-transform: capitalize;
}

#search-button {
  border: none;
  background-color: #586aca;
  color: #ffff;
  min-width: 100px;
  min-height: 39px;
}
#location-button {
  border: none;
  background-color: #586aca;
  color: #ffff;
  min-width: 100px;
  min-height: 39px;
  font-size: 10px;
  margin: 10px auto;
}

.daily-summary {
  list-style: none;
  margin: 10px;
  padding: 0;
  color: #4da8f5;
  font-size: 18px;
  font-weight: 100;
  line-height: 19px;
}

.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}

.temperature {
  font-size: 60px;
  color: #1db1a7;
}

.units {
  position: relative;
  font-size: 16px;
  top: -4px;
}
